body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
}

h1.flex.text {
    font-size: 3rem;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.heading {
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
  }