body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
}

.heading_container {
    align-items: center;
    display: flex;
    height: 100vh;
    position: absolute;
    justify-content: center;
}

.heading {
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    padding: 0 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.heading_stroked {
    font-size: 100px;
    font-weight: 700;
    padding: 0 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px white;
}

.heading_stroked:hover {
    color: #fff;
}

.heading:hover {
    color: transparent;
    -webkit-text-stroke: 2px white;
}