/* Setting Up for jack of all trades Screen */

.jack_of_all_trades {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4.5vh;
    flex-wrap: wrap;
    position: absolute;
    visibility: hidden;
    border-radius: 1%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.336);
    backdrop-filter: blur(10px);
    width: 90%;
    height: 95%;
}

.cards, .golden_card, .locator {
    cursor: pointer;
}

.card {
    position: relative;
    height: 40vh;
    width: 28vh;
    background-image: url('../images/card_normal.png') ;
    background-size: cover;
    filter: drop-shadow(0vh 2vh 5vh #222);
}

.card {
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

/* Animations */
